<form action="/<%= @filename %>" method="post">
  <label for"content">Edit content of <%= @filename %>:</label>
  <div>
    <textarea name="new_content" id="new_content" rows="20" cols="100"><%= @content %></textarea>
  </div>
  <button type="submit">Save Changes</button>
</form>
